# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
pentoslime-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

/Dockerfile.bak
/NOTES.html
/docker-compose.yml.bak
/lib/pentoslime/release.ex
/mix.lock.bak
/outfile
/pd2
/priv/static/images/phoenix-5bd99a0d17dd41bc9d9bf6840abcc089.png
/priv/static/favicon-a8ca4e3a2bb8fea46a9ee9e102e7d3eb.ico
/priv/static/images/default-thumbnail-c5a00375d647591a14dd36e31151acb1.jpg
/priv/static/images/live_view_upload*
/priv/static/robots-9e2c81b0855bbff2baa8371bc4a78186.txt
/priv/static/robots-9e2c81b0855bbff2baa8371bc4a78186.txt.gz
/priv/static/robots.txt.gz
/tmp.txt
/tmp/
